
  <h1>Courses</h1>



  <%= link_to "Home", root_path %>

  <%= link_to "About", about_path %>

  <%= link_to "New course", courses_new_path %>

  <ul>
    <li>Code: CS50x</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: A comprehensive introduction to computer science</li>
  </ul>

  <ul>
    <li>Code: CS50x</li>
    <li>Name: Intro to Computer Science</li>
    <li>Description: A comprehensive introduction to computer science</li>
  </ul>


 
