<div class="row">
  <div class="col s12">
    <h3 class="center-align">COURSE LISTING</h3>
  </div>
</div>

 
<div class="row">
  <div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Code: CS50x</span>
        <p>A comprehensive introduction to computer science.</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">More information</a>
      </div>
    </div>
  </div>
  <div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Code: CS50W</span>
        <p>Web programming with Python and Javascript.</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">More information</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Code: CS50x</span>
        <p>A comprehensive introduction to computer science.</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">More information</a>
      </div>
    </div>
  </div>
  <div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Code: CS50W</span>
        <p>Web programming with Python and Javascript.</p>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">More information</a>
      </div>
    </div>
  </div>
</div>